<div class="jumbotron center">
<img src="https://s3.amazonaws.com/one-month-rails-production/users/avatars/000/020/560/thumb/widow.jpg?1431366030" class="img-circle">
<h1> Kris Braverman </h1>
<p><strong> Developer (in Training!)</strong><p>
	<p> Born in Tennessee, Kris took classes at One Month to learn how to build this site and hopefully many more!</p>
</div>