<div class="jumbotron center">
<img src="https://s3.amazonaws.com/one-month-rails-production/users/avatars/000/020/560/thumb/1601211_894442623946594_1118954896506787854_n.jpg?1437423073" class="img-circle">
<h1> Justin Lamb </h1>
<p><strong> Developer (in Training!)</strong><p>
	<p>Justin took classes at One Month to learn how to build this site!</p>
</div>